* {
    box-sizing: border-box;
    text-decoration: none;
}
.nazwy{
    position: absolute;
    left: 1%;
    top: 5px;
    color: black;
    font-size: 20px;
    color: blue;
    display: none;
    background-color: white;
    font-size: 15px;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px;
    
}


   div.salto:hover p.nazwy{
        display: block;
        
    }
.salto img{
   
}


.linki{
    font-size: 20px;
    font-family: Comic Sans MS;
}




.tytol {
    font-size: 40px;
    margin: auto;
    text-align: center;
    color:blue;

}

    
.gallery {
    border-radius: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 34px;
}



   .galeria .opis_strony {
    margin-left: 80px; /* Dodaje odstęp tylko z lewej strony */
    margin-right: 80px; /* Dodaje odstęp tylko z prawej strony */
    }


@media (max-width: 550px) {
  .galeria .opis_strony {
    margin-left: 40px; /* Dodaje odstęp tylko z lewej strony */
    margin-right: 40px; /* Dodaje odstęp tylko z prawej strony */
    }
}



@media (max-width: 400px) {
  .galeria .opis_strony {
    margin-left: 20px; /* Dodaje odstęp tylko z lewej strony */
    margin-right: 20px; /* Dodaje odstęp tylko z prawej strony */
    }
}


.miniaturka {
    border: solid 2px;
    border-radius: 15px;
    box-shadow: 0 0 27px 2px rgba(6, 0, 0, 1);
    cursor: pointer;
    margin: 32px;
    max-height: 200px;
    max-width: 300px;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s;
}



@media (max-width: 795px) {
  .miniaturka {
    margin: 10px;
    max-height: 160px;
    max-width: 260px;
    }
}



.miniaturka:hover {
    transform: scale(1.2);
}

.miniaturka img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.okienko {
    align-content: center;
    animation: fadeIn 0.3s;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}

.okienko.hidden {
    display: none;
}

.okienko.fade-out {
    animation: fadeOut 0.3s both;
}

.okienko__img {
    max-height: 80%;
    max-width: 80%;
}

.okienko__close {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 70px;
    position: fixed;
    right: 64px;
    top: 64px;
}

.okienko__arrow {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 128px;
    height: 128px;
    line-height: 128px;
    position: absolute;
    top: 50%;
    width: 128px;
}

.okienko__close,
.okienko__arrow {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.okienko__close:hover,
.okienko__arrow:hover {
    opacity: 1;
}

.okienko__arrow--left {
    left: 5%;
}

.okienko__arrow--right {
    right: 5%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}





.galeria {
    width: 100%;
    min-height: 100vh; /* Zmiana na min-height dla utrzymania odstępu */
    background-size: cover;
    background-position: center;
    margin-top: 120px;
    padding-bottom: 20px; /* Dodanie dolnego odstępu dla estetyki */
}



.galeria nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}



.galeria nav .logo{
    font-size: 35px;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -4%;
}



.galeria nav ul{
    list-style: none;
}

.galeria nav ul li{
    display: inline-block;
    margin: 5px 15px;
}

.galeria nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.galeria nav ul li a:hover{
    color: #c72092;
}

.galeria nav .icons i{
    margin: 0 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.galeria nav .icons i:hover{
    color: #c72092;
}



/* Dodaj media queries dla mniejszych rozdzielczości */
@media screen and (max-width: 768px) {
  .galeria nav ul {
    display: none; /* Ukryj podstawowe menu */
  }

  /* Pokaż przycisk menu */
  .galeria nav .menu-toggle {
    display: none;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
  }

  /* Ukryj logo na mniejszych rozdzielczościach */
  .galeria nav .logo {
    font-size: 15px;
  }

  /* Pokaż rozwijane menu po kliknięciu przycisku */
  .galeria nav .menu-toggle:checked ~ ul {
    display: block;
  }

  /* Stylizacja rozwijanego menu */
  .galeria nav ul li {
    display: block;
    margin: 5px 0;
  }

  .galeria nav ul li a {
    display: block;
    padding: 10px;
  }
    
   .galeria nav label {
    color: black;
  }
}





@media screen and (min-width: 768px) {

  .galeria nav .menu-toggle {
    display: none;

}
    
   .galeria nav label {
    display: none;
  }
}






@media screen and (max-width: 768px) {
    .galeria {
        margin-top: 60px; /* Zmniejszenie marginesu dla mniejszych ekranów */
    }

    .opis {
        margin: 10px; /* Zmniejszenie marginesu dla mniejszych ekranów */
    }
}





.opis {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 90%; /* Dostosuj szerokość opisu do 90% szerokości ekranu */
}

.opis p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.opis a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.opis a:hover {
    text-decoration: underline;
}







@media screen and (max-width: 460px) {

    .miniaturka img {
    margin-bottom: -5px;
}
    

}
    










/*Footer*/
footer .footer_main{
    width: 100%;
    background: #f3f1f1;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 2% 0;
}

footer .footer_main .tag .center{
    text-align: center;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 8% 0;
    color: #1c0080;
    text-align: center;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 7% 0;
}

footer .footer_main .tag a i{
    padding: 0 10px;
    transition: 0.3;
}

footer .footer_main .tag a i:hover{
    color: #c72092;
}

footer .footer_main .tag .social_link{
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    position: relative;
    margin: 0 5px;
    margin-left: 24px;
    z-index: 10;
    overflow: hidden;
}

footer .footer_main .tag .social_link a .fa-brands{
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover i{
    color: white;
}

footer .footer_main .tag .social_link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #c72092 , #6c14d0);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover::after{
    left: 0;
}








.footer {
  background-color: #373737;
  padding: 20px;
  text-align: center;
  border-top-style: groove;
    
    
  
}


.footer p {
  margin: 0;
    color: white;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer-links li a {
  text-decoration: none;
  color: #333;
}

.footer-links li a:hover {
  text-decoration: underline;
}



/* Standardowe style dla stopki */
.footer_main {
    display: flex;
    justify-content: space-around;
    position: relative; /* Dodaj pozycję relative, aby umożliwić użycie pseudoelementu ::before */
    padding-top: 10px; /* Dodaj niezbędny odstęp dla kreski */
}

/* Dodaj kreskę u góry za pomocą pseudoelementu ::before */
.footer_main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #333; /* Kolor kreski */
}
/* Styl dla tagu "Zaobserwój nas" */
.tag:last-child {
    display: block; /* Domyślnie widoczny tag */
}





@media screen and (max-width: 750px) {
.footer_main {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
    
    footer .footer_main .tag{
    margin: 0% 0;
}
}


