.hidden {
    display: none;
}
body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.user-info,
.change-password {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details {
  width: 100%;
}

.change-password {
  margin-top: 20px;
}

h2 {
  color: #333;
}

p {
  margin: 10px 0;
}

span {
  color: #007bff;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color: #555;
}

input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Responsywność */
@media screen and (max-width: 600px) {
  .user-info,
  .change-password {
    margin: 100px auto 20px;
  }
}



/* Nowe style dla historii zamówień */
#userDataList {
    list-style-type: none;
    padding: 0;
    
}
.h2{
    margin-top: 70px;
    margin-left: 10px;
}

label[for="daysAgoInput"] {
    margin-left: 10px;
}

#userDataList li {
    margin-bottom: 20px;
    border-bottom: 1px solid #000000; /* Add a border between each order */
    padding-bottom: 10px; /* Add padding to space out the border */
}
#userDataList .orderFrame li{
    margin-bottom: 1px;
    border-bottom: 0px solid #000000; /* Add a border between each order */
    padding-bottom: 10px; /* Add padding to space out the border */
}


#userDataList li:last-child {
    border-bottom: none; /* Remove the border for the last item */
}

strong {
    font-weight: bold;
}
/* Styles for individual data fields */
#userDataList strong {
    color: #3498db;

}


#userDataList li strong {
  font-weight: bold;
  margin-right: 5px;
}

#userDataList ul {
    list-style-type: none;
    padding: 0;
}

#userDataList ul li {
    margin-left: 20px;
}

 .user-detailss {
  display: flex;
  justify-content: center;
  margin: 0 -5px; /* To create a 10px gap between the blocks */
}

.user-infoo,
.orderFrame {
  border: 1px solid #0000DF;
  padding: 10px;
  box-sizing: border-box; /* Include padding in width calculation */
  width: 30%; /* Adjust the width as needed */
  margin: 0 5px; /* To create a 10px gap between the blocks */
}

.data {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-infoo h3,
.orderFrame h3 {
  margin-top: 0; /* Reset the default margin for h3 */
}

/* Adjust the margin-top value as needed */
.user-infoo h3 {
  margin-top: -10px; 
}

.orderFrame h3 {
  margin-top: -10px;
}


/* Responsywność */
@media screen and (max-width: 750px) {
  .user-detailss {
    flex-direction: column;
    align-items: center;
  }

  .user-infoo,
  .orderFrame {
    width: 100%;
    margin: 10px 0;
  }
}

#userDataList hr {
  border: 1px solid #ddd;
  margin: 10px 0;
}





/* Responsywność */
@media screen and (max-width: 750px) {
  #userDataList li {
    padding: 10px;
  }
}

